.count-down {
  width: 2em;
  height: 2em;
  line-height: 0;
  margin-top: -0.3em;
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 0;
  border-radius: 100%;
  margin-bottom: -0.3em;
  place-items: center;
  display: inline-grid;
  border: 0.2em solid #fff;
}
